<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.gavin.app.daemon">

    <application>

        <activity
            android:name=".SinglePixelActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:process=":daemon"
            android:theme="@style/SingleActivityStyle" />

    </application>

</manifest>
